.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.sectionContainer a {
  text-decoration: none;
}

.sectionContainer h3 {
  margin-top: 10rem;
}

.cardProduct {
  align-items: center;
  background-color: white;
  border: 1px rgb(231, 219, 219) solid;
  border-radius: 0.5rem;
  box-shadow: -1px 3px 5px 1px gray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 22rem;
  margin: 0.8rem;
  padding: 0.8rem;
  text-align: center;
  width: 14rem;
}

.cardProduct h4 {
  font-size: 1.3rem;
}

.cardProduct img {
  width: 10rem;
}

